@if (isLoading()) {
  <div class="loading-container">
    <div class="loading-spinner"></div>
    <p>Carregando notícias...</p>
  </div>
} @else {
  <section class="news-category-container">
      <div class="category-header">
        <div class="category-name" [style.border-color]="category()!.color">
          <h2 [style.color]="category()!.color">{{ category()!.name }}</h2>
          <div class="category-decoration" [style.background]="category()!.color"></div>
        </div>
        <div class="category-description">
          <p [style.color]="category()!.color">{{ category()!.description }}</p>
        </div>
      </div>
    @if (news().length > 0) {
    <div class="news-grid" >
      <!-- Notícia principal (imagem grande) -->
      @if (featuredNews()) {
        <article class="featured-news" [routerLink]="['/news', featuredNews()!.slug]" >
          <div class="news-image" [class.loading]="isImageLoading(featuredNews()!.id)">
            @if (featuredNews()!.mediaNews && featuredNews()!.mediaNews.length > 0) {
              <img
                [ngSrc]="featuredNews()!.mediaNews[0].imgSize!.medium || featuredNews()!.mediaNews[0].imgSize!.original"
                [alt]="featuredNews()!.title"
                fill
                priority
                [class.image-hidden]="isImageLoading(featuredNews()!.id)"
                (load)="handleImageLoaded(featuredNews()!.id)"
                (error)="handleImageError(featuredNews()!.id)"
              />
              @if (isImageLoading(featuredNews()!.id)) {
                <div class="image-skeleton">
                  <div class="shimmer"></div>
                </div>
              }
            } @else {
              <div class="placeholder-image">
                <span>Sem imagem</span>
              </div>
            }
            <div class="news-title-overlay">
              <h2 class="news-title" [style.color]="category()!.color" >{{ featuredNews()!.title }}</h2>
            </div>
          </div>
        </article>
      }

      <!-- Notícias secundárias (2 imagens menores) -->
      <div class="secondary-news">
        @for (newsItem of secondaryNews(); track newsItem.id) {
          <article class="secondary-news-item" [routerLink]="['/news', newsItem.slug]">
            <div class="news-image" [class.loading]="isImageLoading(newsItem.id)">
              @if (newsItem.mediaNews && newsItem.mediaNews.length > 0) {
                <img
                  [ngSrc]="newsItem.mediaNews[0].imgSize!.small || newsItem.mediaNews[0].imgSize!.original"
                  [alt]="newsItem.title"
                  fill
                  priority
                  [class.image-hidden]="isImageLoading(newsItem.id)"
                  (load)="handleImageLoaded(newsItem.id)"
                  (error)="handleImageError(newsItem.id)"
                />
                @if (isImageLoading(newsItem.id)) {
                  <div class="image-skeleton">
                    <div class="shimmer"></div>
                  </div>
                }
              } @else {
                <div class="placeholder-image">
                  <span>Sem imagem</span>
                </div>
              }
              <div class="news-title-overlay">
                <h3 class="news-title" [style.color]="category()!.color" >{{ newsItem.title }}</h3>
              </div>
            </div>
          </article>
        }
      </div>
    </div>
    <div class="more-news">
      <div class="more-news-container">
      <lib-more-news 
        [moreNews]="moreNews()" 
        [paginationMeta]="paginationMeta()"
        [title]="''" 
        [category]="category()!" 
        [slice]="3"
        (loadMoreRequested)="loadMore()">
      </lib-more-news>
      </div>
    </div>
    } @else {
      <div class="no-news">
        <p>Nenhuma notícia encontrada para esta categoria.</p>
      </div>
    }
  </section>
}
