<div class="home-config-content">
  <div class="content-header">
    <div class="header-icon">
      <mat-icon>home</mat-icon>
    </div>
    <div class="header-text">
      <h3>Configuração da Home</h3>
      <p>Configure as categorias e ordenação das seções da página inicial</p>
    </div>
  </div>

  <!-- Componente de Configuração do Carrossel -->
  <app-carousel-config></app-carousel-config>
  <!-- Componente de Configuração de Categorias -->
  <app-category-config></app-category-config>

</div>
