@use '../../../styles/variables' as vars;

.category-layout {
  display: grid;
  grid-template-columns: 420px 1fr;
  height: 100%;
  min-height: 0;
  gap: 0;
  align-items: stretch;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    height: auto;
    overflow-y: initial;
  }
}

.category-form-section {
  min-width: 0;
  background: #fcfcfc;
  padding: 2rem;
  border-right: 1px solid var(--border);
  overflow-y: auto;

  @media (max-width: 1100px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

.category-list-section {
  min-width: 0;
  background: white;
  padding: 2rem;

  .list-inner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}