@use '../../../../styles/variables' as vars;
@use '../../../../styles/tools' as tools;
@use '../../../../styles/mixins' as m;

.g-form-container {
  padding: 0.5rem;
}

// ─── Overrides Específicos ──────────────────────────
textarea {
  resize: none !important;
  min-height: 100px;
}

// ─── Footer customizado para barra lateral ──────────
.g-crud-footer {
  .actions-right {
    flex-direction: column;
    gap: 0.8rem;
  }
}

.full-width {
  width: 100% !important;
  justify-content: center !important;
}

.margin-top-lg {
  margin-top: 1.5rem;
}

.border-none {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}
