<main>
  <section class="home-block" appScrollReveal="up">
    <lib-carousel-manager></lib-carousel-manager>
  </section>

  @if (topAd()['728x90']) {
    <section class="home-block" >
      <lib-ads [announcements]="topAd()['728x90']"></lib-ads>
    </section>
  }

  @if (topAd()['300x250']) {
    <section class="home-block" appScrollReveal="right">
      <lib-ads [announcements]="topAd()['300x250']"></lib-ads>
    </section>
  }

  <section class="home-block" appScrollReveal="left">
    <lib-news-category-grid></lib-news-category-grid>
  </section>

  @defer (on viewport(highPh)) {
    <section class="home-block" appScrollReveal="right">
      <lib-news-highligths></lib-news-highligths>
    </section>
  } @placeholder {
    <div #highPh class="loading-container loading-container--highlights"></div>
  }

  @if (centerAd()['728x90']) {
    <section class="home-block" appScrollReveal="left">
      <lib-ads [announcements]="centerAd()['728x90']"></lib-ads>
    </section>
  }

  @if (centerAd()['300x250']) {
    <section class="home-block" appScrollReveal="right">
      <lib-ads [announcements]="centerAd()['300x250']"></lib-ads>
    </section>
  }

  @defer (on viewport(videoPh)) {
    <section class="home-block" appScrollReveal="right">
      <lib-video-manager></lib-video-manager>
    </section>
  } @placeholder {
    <div #videoPh class="loading-container loading-container--video"></div>
  }

 
  @if (centerAd()['200x200']) {
    <section class="home-block" appScrollReveal="right">
      <lib-ads [announcements]="centerAd()['200x200']"></lib-ads>
    </section>
  }

  @defer (on viewport(latestPh)) {
    <section class="home-block" appScrollReveal="left">
      <lib-latest-news></lib-latest-news>
    </section>
  } @placeholder {
    <div #latestPh class="loading-container loading-container--latest"></div>
  }

  @defer (on viewport(mostViewedPh)) {
    <section class="home-block" appScrollReveal="left">
      <lib-most-viewed></lib-most-viewed>
    </section>
  } @placeholder {
    <div #mostViewedPh class="loading-container loading-container--most-viewed"></div>
  }

  <!-- @defer (on viewport) {
    <lib-news-cluster ></lib-news-cluster>
  }@placeholder {
    <div class="loading-container">
      <div class="loading-spinner"></div>
    </div>
  } -->

  @defer (on viewport(moreNewsPh)) {
    <section class="home-block home-block--more-news" appScrollReveal="right">
      <div class="container-more-news">
        <lib-more-news [slice]="3"></lib-more-news>
        @if (bottomAd()['160x600']) {
          <lib-ads appScrollReveal="left" [announcements]="bottomAd()['160x600']" />
        }
      </div>

      @if (bottomAd()['728x90']) {
        <lib-ads appScrollReveal="right" [announcements]="bottomAd()['728x90']" />
      }
    </section>
  } @placeholder {
    <div #moreNewsPh class="loading-container loading-container--more-news"></div>
  }
</main>
