<lib-sidebar class="desktop" [type]="'static'" [opened]="true" [menuItems]="menuItems" [adminMode]="true">
    <button auth class="auth_button" (click)="logout()" >sair</button>
  </lib-sidebar>
  <lib-sidebar class="mobile" [type]="'overlay'"  #mobileSidebar [opened]="false" [menuItems]="menuItems" [adminMode]="true">
    <button auth class="auth_button" (click)="logout()" >sair</button>
  </lib-sidebar>
  <div class="content">
    <div class="content_header">
      <button class="menu_button" (click)="mobileSidebar.toggleSidebar()">
        <span class="material-icons">menu</span>
      </button>
    </div>
    <div class="content_body">
      <router-outlet></router-outlet>
    </div>
  </div>